.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center ;
    overflow-y: auto;
    
}

.right{
    width: 80%;
    height: 100%;
    background-color: teal;
    overflow-y: auto;
}
button{
    width: 90%;
    height: 6%;
    box-sizing: border-box;
    background-color: red;
    border-radius: 10px;
    color: white;
}

h1{
    text-align: center;
    margin: 30px;
}
h3{
    margin-bottom: 30px;
}